page-home {

  .fundo{
    background:#ffffff;
    text-align: center;

  }

  .buttons{
    border-radius: 20px;
    width:100%;
    height: 20%;
  }

  .img-save-us{
    margin-top:10%;
    margin-bottom:20%;
  }


  .imgs{

    width: 50%;
  }
  .h2{

    width:50%;
  }

}
