page-chamado-samu {
  #padding{
    text-align:center;
  }

  #map{
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-radius:10px; width:100%;
    height:30%;
  }

  .form{
    border:1px solid black;
    border-radius:20px;
    margin-top:10%;
  }

  .item{
    border-radius:20px;
  }

  .space{
    margin-top:10%;
  }

  .text-cam1{
    margin-bottom:05%;
  }
}
